<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>| Login</title>
</head>

<body>
  <div id="div_formulario">
    <input id="input_email" type="email" placeholder="email">
    <input id="input_senha" type="password" placeholder="senha">
    <button onclick="entrar(input_email.value, input_senha.value)">Entrar</button>
    <span id="span_erro"></span>
  </div>
</body>

</html>

<script src="../js/usuario.js"></script>